@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@100&display=swap");
/* font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap");
/* font-family: 'Bebas Neue', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
/* font-family: 'Alfa Slab One', cursive; */

* {
  margin: 0;
  padding: 0;
}
.main {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
}

ul > li {
  display: inline;
  list-style: none;
  padding: 0px 20px;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  letter-spacing: 3px;
}
ul > li > a {
  text-decoration: none;
  color: #5a3000;
  font-weight: lighter;
}

.MainPage {
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
  /* background-color: aqua; */
  position: relative;
  height: 65vh;
}
#MainPageText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#BurgerWeek {
  color: #513020;
  font-family: "Alfa Slab One", cursive;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  text-shadow: #ffe29e 5px 5px 2px;
}

#BurgerWeek > h1:first-child {
  /* font-size: 40px;? */
  /* color: aqua; */
  font-size: 100px;
}

#MainPageImages > span {
  /* background-color: antiquewhite; */
  padding: 0px 50px;
}

#MainPageBurgerImg {
  position: absolute;
  bottom: 19%;
  right: 7%;
}
#grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 60px 30px;
  gap: 30px 30px;
}
.grid-items {
  display: flex;
  justify-content: center;
}

#gridItem1 {
  display: flex;
  justify-content: end;
  width: 80%;
  grid-row: 1 / 2;
  grid-row: 1 / span 2;
}

#gridItem2,
#gridItem3 {
  width: 60%;
}

.chooseEnjoy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 50px;
}

.chooseEnjoy > div:nth-child(1) {
  background-color: #f7c344;
  padding: 10px;
  margin-bottom: 10px;
}
.chooseEnjoy > div:nth-child(2) {
  color: #513020;
  font-size: 40px;
  font-weight: bold;
  font-family: "Alfa Slab One", cursive;
  margin-bottom: 10px;
}
.chooseEnjoy > div:nth-child(3) {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #513020;
  margin-bottom: 10px;
}
.burgerDeal {
  display: flex;
  justify-content: space-around;
}

.burgerDeal > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0px 50px;
}

.burgerDeal > div > .DealImage {
  /* height: 250px; */
  padding-bottom: 20px;
}

.speacialDealTitle {
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  font-size: 28px;
  color: #513020;
  padding-bottom: 20px;
}

.description {
  font-size: 20px;
  color: #513020;
  padding-bottom: 20px;
}

.OrderBtn > button {
  color: #ffff;
  background-color: red;
  font-family: "Alfa Slab One", cursive;
  padding: 10px 20px;
  border: none;
}
#newEvent {
  display: flex;
  justify-content: space-between;
  margin: 50px 70px;
  padding: 30px;
  box-shadow: grey 10px 5px 15px;
}

#newEventDescription {
  width: 50%;
  padding: 0px 20px;
}
#newEventDescription > h1:first-child {
  color: #513000;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  letter-spacing: 2px;
}

#newEventDescription > h1:nth-child(2) {
  font-family: "Alfa Slab One", cursive;
  color: #513020;
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

#newEventDescription > p {
  color: #513000;
  font-size: 18px;
}
#newEventImage {
  width: 60%;
  text-align: center;
}
