@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@100&display=swap");
/* font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap");
/* font-family: 'Bebas Neue', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
/* font-family: 'Alfa Slab One', cursive; */

* {
  margin: 0;
  padding: 0;
}
.main {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
}

ul > li {
  display: inline;
  list-style: none;
  padding: 0px 20px;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  letter-spacing: 3px;
}
ul > li > a {
  text-decoration: none;
  color: #5a3000;
  font-weight: lighter;
}

.MainPage {
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
  /* background-color: aqua; */
  position: relative;
  height: 65vh;
}
#MainPageText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#BurgerWeek {
  color: #513020;
  font-family: "Alfa Slab One", cursive;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  text-shadow: #ffe29e 5px 5px 2px;
}

#BurgerWeek > h1:first-child {
  /* font-size: 40px;? */
  /* color: aqua; */
  font-size: 100px;
}

#MainPageImages > span {
  /* background-color: antiquewhite; */
  padding: 0px 50px;
}

#MainPageBurgerImg {
  position: absolute;
  bottom: 19%;
  right: 7%;
}
